
        <meta charset="utf-8">
        <title>Week 6 Notes</title>

        <link rel="stylesheet" href="week6styles.css">
        h1{
                color: royalblue;
                font-size: 400%;
            }
        h2{
                color: salmon
                
        }
<h1>Week 6 Notes</h1>
<h2>Sub heading</h2>
<p>Hello World - We are <a href="http://www.syr.edu">Orange </a>,</p>
    <a href="http://google.com">Google </a> 